/01_3_31_Activity01_duringclass_HTML_usingVSC_4.jpg
/Activity5
/Activity5back.zip
/Activity6
/Activity7
/Activity7 (2).zip
/Activity7.zip
/Activity8
/Activity8.zip
/Activity8fake
/Activity8turnin.zip
/Assignment 1 (2).zip
/Assignment 1.zip
/Assignment 10000
/Assignment01_TEAMNUMBER115
/Assignment01_TEAMNUMBER115.zip
/BoxModel
/dom4.html
/javascript
/let person = {.js
/midtermexample
/MidtermProjectgh
/MidtermProposal.docx
/MidtermProposal.pdf
/Midtermproposal_115.docx
/Midtermproposal_115.pdf
/mywebpage
/nurani_moviespertag.html
/onuranicss_selectors.html
/onuranispiderman.html
/onurani_Activity01.html
/onurani_Activity03.css
/onurani_Activity03.html
/onurani_Activity05_catalog_flowers_bootstrap.zip
/onurani_moviesperclass.html
/onurani_moviespertag.html
/onurani_moviespertid.html
/person3.json
/possibletopics.txt
/temp
/~$dtermproposal_115.docx